
#link-more {
  width:fit-content;
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:blue;
  font-size: x-large;
  border-style: solid;
  border-color: black;
  padding:10px;
  background-color: rgba(192,192,192,0.3);
}

#link {
  color:blueviolet;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
  color: blueviolet;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

#submit-button {
  background-color: white;
  color:blueviolet;
  border:2px solid #DD9BCF;
  border-radius: 5%;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #DD9BCF;
  color:white;
}


#new-film {
  border-style: solid;
  border-radius: 10%;
  width:fit-content;
  padding:1%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fee4f9
}